<section class="user-dashboard review-section">
  <div class="dashboard-reviews-container">
    <h6 class="dashboard-headline">
      Your Reviews
    </h6>
    {{#each reviews}}
      <article class="review-container">
        <div class="card">
          <div class="card-body">
            <div class="card-top-row">
            <h5 class="card-title review-username"><span>Review by</span>{{user.username}}</h5>
            <h6><a>Edit Review</a></h6>
            </div>
            <h6 class="card-subtitle review-time">{{created_at}}</h6>
            <p class="review-text">{{review_text}}</p>
            {{#if vote_count}}
              <div class="like-button">
                <a id="likeButton{{id}}">
                  <img src="/img/heart.svg">
                  </a>
                  <span id="likeReviewText{{id}}">{{vote_count}} likes</span>
                  </div>
            {{else}}
              <div class="like-button-unliked">
                <a id="likeButton{{id}}">
                  <img src="/img/heart.svg">
                  </a>
                  <span id="likeReviewText{{id}}">Like review</span>
                  </div>
            {{/if}}
          </div>
        </div>
      </article>
    {{/each}}
  </div>
</section>
{{!-- EDIT REVIEW MODAL --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{!-- <section>
  <h2>Create New Review</h2>
<form class="new-review-form">
    <div>
      <label for="review-url">Link</label>
      <input id="review-url" name="review-url" />
    </div>

    <button type="submit" class="btn">Create Review</button>
  </form>
</section>

{{#if review.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each reviews as |review|}}
    <li>
      {{> review-info review}}
      <a href="/dashboard/edit/{{review.id}}" class="edit-link">Edit Review</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/create-review.js"></script> --}}