<section class="show-info-section">
<div class="container">
    <div class="row">
    <div class="col single-page-poster-container">
<img src="https://image.tmdb.org/t/p/w300/{{show.poster_path}}">
</div>
<div class="col">
<h1>{{show.title}}   <span class="show-title-span">2021 | </span><span class="show-title-span">Created By</span></h1>
<p>{{show.overview}}</p>
</div>
<div class="col">
<h6>Rate</h6>
<div id="rater">(looking into a js library to use here ??)</div>
<h6>Genre <span class="badge bg-secondary"><a href="/search/{{show.genre}}">{{show.genre}}</a></span></h6>
<h6>Seasons {{show.season_count}}</h6>
<h6>Episodes {{show.episode_count}}</h6>
<h6>More At <span class="badge bg-secondary"><a href="https://www.themoviedb.org/tv/{{show.apiId}}">tmdb</a></span></h6>
<div class="d-grid gap-2">
  <h6 class="btn btn-primary review-button"><a href="#review-section">Leave a Review</h6>
  </div>
</div>
</div>
</section>

<section class="review-section" id="review-section">
    <h2>Leave a Review</h2>
    <form class="review-form">
            <textarea class="review-textarea"></textarea>
        </form>
    {{#each show.review}}
    <article class="review-container">
        
    </article>
{{/each}}
</section>

<link href="dist/star-rating.css" rel="stylesheet" />
<script src="dist/star-rating.min.js"></script>